.timeLine {
  min-width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_1500,w_2000,f_auto,q_auto/2966289/539772_363277.png');
}

.list {
  position: relative;
  min-width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
}

.mainTitle {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

.element {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
}

.title {
  height: 40px;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.text {
  font-size: 14px;
  text-align: justify;
  width: 400px;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #fff 1px;
  margin-bottom: 12px;
  height: 66px;
}

.numberBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 54px;
  font-size: 24px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  /* phones */
  .timeLine {
    position: relative;
    min-height: 200%;
    flex-direction: column;
  }

  .list {
    position: relative;
    min-height: 100%;
    flex-direction: column;
  }

  .element {
    position: relative;
    min-height: 15%;
    padding: 40px 0;
  }

  .text {
    padding: 0 40px;
  }
}
